// import variables, fonts
@import "./variables.scss";
@import "./fonts.scss";
// import variables, fonts/
// base
html {
  scroll-behavior: smooth;
}

body {
  color: $blackColor;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.btnMenu {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  & span {
    height: 1px;
    background-color: $brownColor;
    width: 100%;
  }
}
// base/
