// import variables, fonts
@import "./variables.scss";
@import "./fonts.scss";
// import variables, fonts/
// base
body {
  color: $blackColor;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}
// base/
