// import base, variables, mixins, fonts
@import "./base.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";
// import base, variables, mixins, fonts/

//! content
// header
.header {
  background-color: $pinkColor;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  & a {
    @include headerLinks($blackColor, 14px, 400);
  }
}
.phone {
  @include headerLinks($blackColor, 14px, 400);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../assets/img/header/tel-icon/1000px-900px/phone.svg);
    width: 20px;
    height: 20px;
    left: -20px;
    top: -20%;
  }
}
// header/
//! main
.main {
  background-color: #fff8f3;
  overflow-x: clip;
}
// section top
.top {
  padding: 30px 0 150px 0;
}
.top__inner {
  position: relative;
}
.top__content {
  width: 370px;
  padding: 150px 0 281px;
}
.top__title {
  max-width: 391px;
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.top__text {
  max-width: 371px;
  @include paragraphs;
  margin-bottom: 49px;
}
.top-buy {
  @include buttonBuy;
}
.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}
// section top/
// section about
.about {
  background-color: $beige2Color;
  padding: 50px 0;
  color: #fff;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__content {
  min-width: 370px;
  & h2 {
    @include headings;
    margin-bottom: 22px;
    max-width: 370px;
  }
  & p {
    @include paragraphs;
    max-width: 370px;
    margin-bottom: 15px;
    & :last-child {
      margin-bottom: 0;
    }
  }
}
.about__list {
  position: relative;
  padding: 0 0 48px 110px;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../assets/img/section-main/section-about/about-decor.png);
    width: 22px;
    height: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 7px;
    background-color: $brownColor;
    width: 1000%;
    height: 1px;
  }
  & img {
    margin-bottom: 10px;
    width: 215px;
  }
  #middle-img {
    width: 350px;
    height: 355px;
  }
}
// section about/
//! main/

// footer
.footer {
  background-color: #fff;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 35px 0;
}
.footer__contacts {
  display: flex;
  width: 230px;
  flex-direction: column;
  & .footer__phone {
    margin-bottom: 16px;
    @include headerLinks($blackColor, 14px, 400);
  }
}
.email {
  margin-bottom: 16px;
  color: $blackColor;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #b6afaf;
  }
  &:focus {
    color: #b6afaf;
  }
}
.footer__social {
  display: flex;
  & li {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// footer/
//! content/
