// import variables
@import "./variables.scss";
// import variables/
// media
// 1000px
@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
  .top__content {
    width: 333px;
    padding: 90px 0 70px;
    & button {
      & :hover {
        font-size: 16px;
      }
      &:focus {
        font-size: 16px;
      }
    }
  }
  .top__img {
    left: 329px;
  }
  .top__img-l {
    width: 655px;
  }
  .about__content {
    min-width: 300px;
  }
  .about__list {
    padding-left: 20px;
  }
  .products__content {
    width: 300px;
    & p {
      font-size: 10px;
    }
  }
  .products-desc {
    gap: 67px;
    margin-left: 6px;
    padding: 0 0 70px 4px;
    & #lastProductParagraph {
      margin-bottom: 40px;
    }
  }
}
// 1000px/
// 900px
@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    & .footer__social {
      justify-content: center;
    }
  }
  .products-desc {
    gap: 40px 20px;
  }
  .top__content {
    & button {
      & :hover {
        font-size: 16px;
      }
      &:focus {
        font-size: 16px;
      }
    }
  }
}
// 900px/
// 800px
@media (max-width: 800px) {
  .products__content {
    width: 220px;
    & h2 {
      font-size: 17px;
    }
  }
  .products-desc {
    grid-template-columns: 200px 200px;
    gap: 30px 16px;
  }
  .products__desc-block {
    & img {
      width: 188px;
      margin-bottom: 7px;
    }
    & h3 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    & h4 {
      font-size: 14px;
      margin-bottom: 12px;
    }
    & p {
      font-size: 10px;
      margin-bottom: 20px;
    }
    & #lastProductParagraph {
      margin-bottom: 20px;
    }
    & button {
      font-size: 14px;
    }
  }
  .top__content {
    & button {
      & :hover {
        font-size: 16px;
      }
      &:focus {
        font-size: 16px;
      }
    }
  }
}
// 800px/
// 768px
@media (max-width: 768px) {
  .about__content {
    min-width: 200px;
    & h2 {
      font-size: 15px;
    }
    & p {
      font-size: 10px;
    }
  }
  .about__list {
    margin-left: 27px;
    gap: 0 10px;
    margin-bottom: 33px;
    & img {
      margin-bottom: 5px;
    }
    & p {
      font-size: 6px;
    }
    & #middle-img {
      width: 190px;
      height: 195px;
    }
  }
  #first-img {
    width: 120px;
  }
  #third-img {
    width: 120px;
  }
  .top__content {
    width: 230px;
    & button {
      & :hover {
        font-size: 16px;
      }
      &:focus {
        font-size: 16px;
      }
    }
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .top__img {
    left: 180px;
  }
  .menu__list {
    & a {
      font-size: 10px;
    }
  }
  .phone {
    font-size: 10px;
    &::before {
      background-size: cover;
      width: 14px;
      height: 14px;
      left: -15px;
      top: -20%;
    }
  }
  .footer__contacts {
    font-size: 10px;
    & {
      .footer__phone {
        font-size: 10px;
      }
    }
    & .footer__phone {
      margin-bottom: 10px;
    }
    & .email {
      margin-bottom: 10px;
    }
  }
  .footer__social {
    & img {
      width: 18px;
      height: 18px;
    }
  }
  .container {
    max-width: 640px;
  }
  .products__content {
    width: 200px;
    & h2 {
      font-size: 15px;
    }
  }
  .products-desc {
    margin-left: 3px;
    padding-left: 5px;
    grid-template-columns: 200px 200px;
    gap: 30px 16px;
  }
  .products__desc-block {
    & img {
      width: 188px;
      margin-bottom: 5px;
    }
    & h3 {
      font-size: 12px;
      margin-bottom: 6px;
    }
    & h4 {
      font-size: 12px;
      margin-bottom: 12px;
    }
    & p {
      font-size: 8px;
      margin-bottom: 19px;
    }
    & #lastProductParagraph {
      margin-bottom: 27px;
    }
    & button {
      font-size: 12px;
    }
  }
}
// 768px/
// 640px
@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
  .header__menu {
    order: 1;
  }
  .header__menu-list {
    position: absolute;
    top: -200%;
    left: 0;
    width: 162px;
    background-color: $brownColor;
    flex-direction: column;
    padding: 25px 46px;
    transform: translateY(-110%);
    z-index: 5;
    transition: transform 0.5s ease;
    & a {
      color: $pinkColor;
    }
    & li {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .menu__open {
    top: 0;
    transform: translateY(0%);
  }
  .btnMenu {
    display: flex;
  }
  .footer {
    & a {
      font-size: 10px;
    }
    & .footer__phone {
      font-size: 10px;
    }
  }
  .products {
    padding: 50px 0;
  }
  .products__inner {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .products__content {
    width: 300px;
    margin-bottom: 30px;
  }
  .products-desc {
    margin-left: 0;
    padding-left: 0;
  }
  .top__content {
    & button {
      & :hover {
        font-size: 16px;
      }
      &:focus {
        font-size: 16px;
      }
    }
  }
}
// 640px/
// 507px
@media (max-width: 507px) {
  .footer {
    padding: 50px 0;
    & a {
      font-size: 14px;
    }
  }
  .footer__inner {
    flex-direction: column;
    & .footer__menu-list {
      flex-direction: column;
      & li {
        margin-right: 0;
        margin-bottom: 22px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .footer__phone {
      font-size: 14px;
    }
  }
  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }
  .top__content {
    & button {
      & :hover {
        font-size: 12px;
      }
      &:focus {
        font-size: 12px;
      }
    }
  }
}
// 507px/
// 480px
@media (max-width: 480px) {
  .top {
    padding: 30px 50px 0 0;
  }
  .top__img-l {
    width: 309px;
  }
  .top__content {
    width: 180px;
    & h3 {
      font-size: 15px;
      margin-bottom: 15px;
    }
    & p {
      font-size: 8px;
      margin-bottom: 15px;
    }
    & button {
      font-size: 10px;
      padding: 13px 40px;
      &:hover {
        font-size: 12px;
        padding: 13px 40px;
      }
      & :focus {
        font-size: 12px;
        padding: 13px 40px;
      }
    }
  }
  .about__inner {
    align-items: flex-end;
  }
  .about__list {
    margin-bottom: 0;
    gap: 0 5px;
    padding-left: 12px;
    margin-left: 0;
    align-items: flex-end;
    & img {
      margin-bottom: 0;
    }
    & p {
      display: none;
    }
    & #middle-img {
      width: 140px;
      height: 140px;
    }
  }
  .about__content {
    min-width: 171px;
  }
  #first-img {
    width: 80px;
  }
  #third-img {
    width: 80px;
  }
  .products__content {
    width: 245px;
    margin-bottom: 27px;
  }
  .products-desc {
    justify-items: center;
    grid-template-columns: 170px 170px;
    gap: 45px 0px;
  }
  .products__desc-block {
    & img {
      width: 150px;
    }
    & h4 {
      margin-bottom: 8px;
    }
    & p {
      font-size: 8px;
      margin-bottom: 18px;
    }
    #lastProductParagraph {
      margin-bottom: 18px;
    }
  }
}
// 480px/
// 360px
@media (max-width: 360px) {
  .top__img-l {
    width: 113px;
  }
  .top__img {
    left: auto;
    right: -38px;
    top: 0px;
  }
  .top__content {
    padding: 20px 0 50px;
    width: 200px;
    & h3 {
      font-size: 18px;
    }
    & p {
      font-size: 10px;
    }
    & button {
      &:hover {
        font-size: 12px;
      }
    }
  }
  .about {
    padding: 39px 0 25px 0;
  }
  .about__content {
    min-width: 233px;
    & h2 {
      margin-bottom: 10px;
    }
    & p {
      font-size: 8px;
    }
  }
  .about__list {
    gap: 0 15px;
    height: 80px;
    padding-left: 12px;
    margin-left: 12px;
  }
  .products__content {
    width: 235px;
    margin-bottom: 25px;
  }
  .products-desc {
    justify-items: center;
    grid-template-columns: 150px 150px;
    gap: 40px 0px;
  }
  .products__desc-block {
    & img {
      width: 140px;
    }
    & h4 {
      font-size: 10px;
      margin-bottom: 7px;
    }
    & p {
      width: 150px;
      font-size: 6px;
      margin-bottom: 16px;
    }
    #lastProductParagraph {
      margin-bottom: 23px;
    }
    & button {
      padding: 10px 21px;
      font-size: 8px;
      &:hover {
        font-size: 10px;
      }
      &:focus {
        font-size: 10px;
      }
    }
  }
}
// 360px/
// media/
